<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Ceci est une navbar
  </a>

  <% if signed_in? %>
    <div>
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  <% else %>
    <div class="btn btn-flat-nav"> <%= link_to "s'inscrire", new_user_registration_path %> </div>
  <% end %>

</nav>
